@import "tailwindcss";

/* Global Bunnyhop Reset */
body {
  background-color: #050505; /* Void Black */
  color: #ffffff;
  font-family: sans-serif; /* We will add custom fonts later */
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for clean aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}
::-webkit-scrollbar-thumb:hover {
  background: #CCFF00; 
}